<button type="button"
(click)="backtolesson()">back </button>
<h2>Lesson 1 Reading</h2>
<body style="background-color: #54b689"
*ngFor = "let read of reading">


    <div class="container1 col-xxl-8 px-4" style="background-color: #ffffff; margin-top: 0%;">
        <div class="row flex-lg-row-reverse align-items-center flex-wrap-reverse g-5 py-5">

            <div class="col-10 col-sm-8 col-lg-6 image-container">
                <img [src]="read.imageUrl" id="hero" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1000"
                    height="200" style="margin-left: 27px; margin-top: -80px;" loading="lazy">
            </div>

            <div class="col-lg-6 text-center py-5"
                style=" background-color: #54b689; color: #ffffff; border-radius: 50%; border: 50px solid;">
                <h3 class="display-6 fw-bold lh-1 mb-3">{{read.heading}}</h3>
                <p class="lead"><strong>{{read.subheading}}</strong></p>
                <ul class="grammar" *ngIf="read.grammar !== undefined && read.grammar !== null">
                    <div *ngFor = "let grammarlist of read.grammar">
                    <li>
                        {{grammarlist.content}}
                    </li>
                </div>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">

                </div>
            </div>
        </div>
        <hr>
    </div>
    
    <div class="container" style="background-color: #ffffff;">
        <div class="text-center">
            <p class="lead" style="color: #28387a; padding-top: 10%;"><strong>
                    {{read.content}}
                </strong>
            </p>
            ****************************************************************
        </div>
    </div>
</body>