<mat-drawer-container class="example-container" style="margin-top: 1%;" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <div class="sideheader px-3">

            <h3>Chapters</h3>

            <mat-icon class="close" aria-hidden="false" aria-label="Example close icon" fontIcon="close"
                (click)="drawer.toggle();">
            </mat-icon>

        </div>
        <hr>

        <!-- Trying accordian -->
        <mat-accordion>
            <div *ngIf="lessonData !== undefined && lessonData !== null">
                <div *ngFor="let title of lessonData.data.content;  let i = index">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>
                                    {{title.name}} &nbsp; &nbsp; &nbsp; &nbsp;
                                    <i class="fa-regular fa-circle-check" [hidden]="disp" style="color: #52b889;"></i>
                                    <i class="fa-solid fa-circle-check" style="color: #54b689;"></i>
                                </strong>

                            </mat-panel-title>
                        </mat-expansion-panel-header>


                        <mat-list role="list">
                            <div *ngFor="let videovalue of title.video">
                                <mat-list-item role="listitem" [routerLinkActive]="['active']"
                                    (click)="drawer.toggle(); ">
                                    <a routerLink="/members/lessons/video/{{i}}"
                                    (click) = "loadVideoValue(videovalue.url)">

                                        <i class="fa-solid fa-video"></i>
                                        &nbsp;<span> Video Lesson (Hindi) </span>
                                        </a>
                                </mat-list-item>
                                <mat-divider></mat-divider>


                                <mat-list-item role="listitem" [routerLinkActive]="['active']"
                                    (click)="drawer.toggle();">
                                    <a routerLink="/members/lessons/video/{{i+2}}"
                                    (click) = "loadVideoValue(videovalue.url)">

                                        <i class="fa-solid fa-video"></i>
                                        &nbsp;<span> Video Lesson (Tamil) </span> </a></mat-list-item>
                                <mat-divider></mat-divider>
                            </div>

                            <mat-list-item role="listitem"  [routerLinkActive]="['active']"
                                (click)="drawer.toggle(); loadVocabularyValue(title.vocabulary)"><a
                                    routerLink="/members/lessons/vocabulary/{{i}}">
                                    <i class="fa-regular fa-newspaper"></i>
                                    &nbsp; <span> Vocabular J-E </span> </a></mat-list-item>
                            <mat-divider></mat-divider>

                            <mat-list-item role="listitem"  [routerLinkActive]="['active']"
                                (click)="drawer.toggle(); loadVocabularyetojValue(title.vocabulary)"><a
                                    routerLink="/members/lessons/vocabularyetoj/{{i}}">
                                    <i class="fa-regular fa-newspaper"></i>
                                    &nbsp; <span>Vocabular E-J</span></a></mat-list-item>
                            <mat-divider></mat-divider>

                            <mat-list-item role="listitem"  [routerLinkActive]="['active']" 
                            (click)="drawer.toggle(); loadReadingValue(title.reading)">
                                <a routerLink="/members/lessons/reading/{{i}}">
                                    <i class="fa-solid fa-book-open"></i>
                                    &nbsp; <span>Reading</span></a></mat-list-item>
                            <mat-divider></mat-divider>

                            <mat-list-item role="listitem"  [routerLinkActive]="['active']" 
                            (click)="drawer.toggle(); loadQuizValue(title.mcq, title.id)">
                                <a routerLink="/members/lessons/choose/{{i}}">
                                    <i class="fa-solid fa-file-pen"></i>
                                    &nbsp;<span> Quiz </span></a></mat-list-item>
                            <mat-divider></mat-divider>

                            <mat-list-item role="listitem" [routerLinkActive]="['active']"
                            (click)="drawer.toggle()">
                                <a routerLink="/members/lessons/result/{{i}}"
                                >
                                    
                                    <i class="fa-solid fa-medal"></i>
                                    
                                    &nbsp;<span> Result </span></a></mat-list-item>
                            <mat-divider></mat-divider>

                        </mat-list>
                    </mat-expansion-panel>
                </div>
            </div>
        </mat-accordion>
    </mat-drawer>

    <!-- End accordian -->


    <div class="example-sidenav-content">
        <div class="sidemenu">
            <button type="button" class="btn btn-custom-outline-success px-3 text-body-success"
                (click)="drawer.toggle();">

                <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu">
                </mat-icon>
            </button>
        </div>
        <div class="dynamic-content">
            <router-outlet></router-outlet>

        </div>
    </div>
</mat-drawer-container>