<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Japanese From Home</title>
</head>

<body>

    <header class="header">
        <div class="container">


            <div class="hero-section">
                <div id="intro-text">
                    <h1>LEARN JAPANESE LANGUAGE<br> AT YOUR COMFORT</h1>
                    <p> Unlock the beauty of Japanese language with our expert-led <br> courses in <strong>Urdu /
                            Hindi</strong> and <strong>Tamil</strong> with
                        lifetime access.<br> Learn from home today!" </p>

                    <button class="btn" routerLink="/lesson" (click)="displayValue()">Premium @ Just &#8377;999</button>
                </div>
                <div class="intro-image">
                    <img src="assets/img/NewProject15.png" alt="">
                </div>


            </div>


        </div>
    </header>

    <div class="why-choose-us-section">
        <div class="container">
            <div class="why-choose-us-title">
                <h1>Why Choose Us</h1>
            </div>
            <div class="why-choose-us-cards">
                <div class="card">
                    <div class="heading">
                        <i class="fa-brands fa-youtube fa-2xl"></i>
                        <h3>Java</h3>
                    </div>

                    <div class="body">
                        <p>Backend development and support using Java 7,8 with Spring boot framework.
                            Restful webservices.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="heading">
                        <i class="fa-solid fa-clock fa-2xl"></i>
                        <h3>Java script</h3>
                    </div>
                    <div class="body">
                        <p>Backend development and support using Java 7,8 with Spring boot framework.
                            Restful webservices.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="heading">
                        <i class="fa-solid fa-chalkboard-user fa-2xl"></i>
                        <h3>HTML CSS</h3>
                    </div>
                    <div class="body">
                        <p>Backend development and support using Java 7,8 with Spring boot framework.
                            Restful webservices.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="about-section">
        <div class="container">
            <div class="about-title">
                <h1>About Us</h1>
            </div>
            <div class="about-content">
                <p>We NihongoShiksha.com offer free Japanese language course for beginners. Our goal is to make learning
                    Japanese language accessible to everyone who understands Urdu/Hindi and Tamil, regardless of their
                    location. We understand that taking the Japanese Language Proficiency Test N5
                    exam can be a daunting task, that's why we have designed our course to help you pass the exam with
                    confidence. Our course is tailored to cover all the essential grammar, vocabulary and reading
                    comprehension skills required for the N5 level. We offer instructions in Urdu, Hindi and Tamil. With
                    our website, you will have lifetime access to our course, so you can learn at your own pace and
                    revisit the material as many times as you need. Join us today and start your journey to fluency in
                    Japanese. Let us help you pass the Japanese Language Proficiency N5 exam with ease!👍</p>
            </div>

        </div>
    </div>
</body>

</html>