<div class="container">
<nav class = "nav">
    <div id="navbar">
        <div id="logo">
            <img src="assets/img/shiksha5.png" alt="Let's learn Japanese" routerLink = "../home"
            (click)="hidedisplay()">
        </div>
        <div class="nav-items">
            <ul>
                <li><a href=#> <img src="assets/img/user.png" alt=""> </a></li>
                <li><i class="fa-solid fa-bars fa-xl"></i>
                </li>
            </ul>
        </div>
       </div>
</nav>
</div>