<div class="body">
    <button id="createButton">Create</button>
    <button id="createButton" (click)="backtochapterdetails()">Back to chapterDetails </button>
    <table>
        <thead>
            <tr>
                <th>SL.No</th>
                <th>Question</th>
                <th>Option 1</th>
                <th>Option 2</th>
                <th>Option 3</th>
                <th>Option 4</th>
                <th>Answer</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor = "let items of chapterDetails.mcq; let i = index">
                <td>{{items.id}}</td>
                <td>{{items.question}}</td>
                <td>{{items.option1}}</td>
                <td>{{items.option2}}</td>
                <td>{{items.option3}}</td>
                <td>{{items.option4}}</td>
                <td>{{items.answer}}</td>
                <td><button class="edit-button">Edit</button>
                <button class="delete-button">Delete</button></td>
            </tr>
           
        </tbody>
    </table>
</div>
