<!--Start of navigation-->

<nav class="navbar navbar-expand-md">
    <div class="container">
      <a href="#" class="navbar-brand" style="border: solid;">
        <span style="background-color:  #54b689; color: #ffffff; padding: 1.5%; margin-left: 1%;">&nbsp; <strong>日本語 </strong> &nbsp; </span>
        <strong style="color: #28387a;">&nbsp; SHIKSHA &nbsp;</strong>
      </a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id = "navbarText">
        <ul class="navbar-nav ms-auto text-center menu-color">
          <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Seamlessly Connect</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Classroom</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
        </ul>
      </div>
    </div>
  
  </nav>

  <!--End of navigation-->

<router-outlet></router-outlet>

<!--Start of footer-->
<div class="container" style="background-color: #28387a; margin-top: 0.5%;">
    <div class="content">
        <p>© 2023 NihongoShiksha.com. All rights reserved. | Privacy Policy | Terms of Service</p>
    </div>
    </div>
<!--End of footer-->
