<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="top-menu">
                <app-top-menu></app-top-menu>
            </div>
        </div>
    </header>

    <div class="router-container"[style.display]="flexvalue">
        <div class="router1">
            <router-outlet></router-outlet>
            </div>
            <div class="router2" [style.display]="displayValue" [style.min-width]="minwidth">
                <router-outlet name="exercises"></router-outlet>
            </div>
        </div>
        
    <div class="fooer-section">
        <app-footersection></app-footersection>
    </div>



</body>

</html>