<div class="body">
    <button id="createButton">Create</button>
    <table>
        <thead>
            <tr>
                <th>SL.No</th>
                <th>Contents</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>1</td>
                <td>Quiz</td>
                <td><a routerLink="/members/admin/quizdetails">View Details</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Reading</td>
                <td><a routerLink="/members/admin/readingdetails">View Details</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Vocabulary E to J</td>
                <td><a routerLink="/members/admin/vocabularyetojdetails">View Details</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Vocabulary J to E</td>
                <td><a routerLink="/members/admin/vocabularyjtoedetails">View Details</a></td>
            </tr>
            
           
        </tbody>
    </table>
</div>
